.Navbar {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 64px;
    background: #43C0F6 0% 0% no-repeat padding-box;
    border: 1px solid #43C0F6;
    display: flex;
    
}

.Logo {
    background: url("./Star\ Logo\ 07-2.png");
    margin-top: 2px;
    margin-left: 100px;
    width: 150px;
    height: 60px;
}

h3 {
    margin-top: 32px;
    margin-left: 200px;
    width: 50px;
    height: 22px;
    color: white;
}

#Project {
    margin-top: 32px;
    width: 50px;
    height: 22px;
    color: white;
}

#Teacher {
    margin-top: 32px;
    width: 50px;
    height: 22px;
    color: white;
}
