.Footer {
    width: 100%;
    height: 500px;
    background: #B2E4FA;
    display: flex;
    
}

.company {
    margin-left: 100px;
    margin-top: 5%;
    
}
.courses {
    margin-left: 120px;
    margin-top: 5%;
    
}

.support {
    margin-left: 140px;
    margin-top: 5%;
}

.legal {
    margin-left: 160px;
    margin-top: 5%;
}

.levelup {
    margin-left: 180px;
    margin-top: 5%;
}